{% extends "base.html" %}
{% block content %}
<h2>About our company</h2>
<img id="love_photo" src='/static/about_us.jpg' class="img-fluid" alt="A picture of us on a bike." class="rounded"/>
<br />
<h4 class='happy'>HappyHouse Inc.</h4>
<p>Happy House, Inc. is a leading producer and distributor of products and services for the "love" and "happiness" markets. HappyHouse began in 2017 when founders, Anna S Maniuk and Nicolas Michel Viennot, met and decided that it is lovely to be together. They stayed together with a wholehearted belief that life could and should be done better. From those modest beginnings, the HappyHouse Inc. grew into a global leader of problem solving techniques, massage services, and "act like a cat" solutions for "love" and "happiness" markets. From crazy trip and adventures, to better lighting projects, to romantic dinners at night, to learning stuff together and generating ideas for the future,  that helps to discover this world, we are committed to improving life.
We are passionate about our products. We pride ourselves on being people of integrity who excel at delivering results. We pursue opportunities for growth by taking products and processes to new markets, developing new products for existing markets, and continually improving across the company to ensure that HappyHouse Inc. solutions are always the global industry leader.</p>
<p>Our Main Office address:<br>618 Bushwich Ave.<br>Apt. 627<br>Brooklyn, NY, 11206</p>
{% endblock %}