{% extends "base.html" %}
{% block content %}
<p>First day of our company...</p>
<img id="love_photo" src='/static/day1.jpg' class="img-fluid" alt="River cafe." class="rounded"/>
<p>Doing bussiness at the race track...</p>
<img id="love_photo" src='/static/track.jpg' class="img-fluid" alt="Race track" class="rounded"/>
<p>Travelling wiht a mission to CA!</p>
<img id="love_photo" src='/static/CA.jpg' class="img-fluid" alt="A picture of us in a car." class="rounded"/>
<p>Everyone get's tired sometimes!</p>
<img id="love_photo" src='/static/travel.jpg' class="img-fluid" alt="A picture of us." class="rounded"/>
<p>Breakfast. Yummy!</p>
<img id="love_photo" src='/static/food.jpg' class="img-fluid" alt="Food." class="rounded"/>
<p>Getting ready for an important dinner.</p>
<img id="love_photo" src='/static/dinner.jpg' class="img-fluid" alt="A picture of us." class="rounded"/>
<p>And much more!!!</p>
<img id="love_photo" src='/static/and_much_more.jpg' class="img-fluid" alt="Us." class="rounded"/>
{% endblock %}